.hero__container{
    display: flex;
    align-items: center;
}

.text__container{
    display: inline;
    flex-direction: column;
    padding: 5%;
}

.hero__title{
    margin: 20px 0;
}

.hero__paragraph{
    margin: 20px 0;
}


.hero__btn{
    text-align: center;
    vertical-align: middle;
    font-size: 1.1rem;
    padding: 2%;
    border-radius: 15px;
    border: none;
    background-color: #790cff78;
    font-weight: bold;
    color: white;
}

.hero__btn:hover{
    cursor: pointer;
    background-color: #9e4efff4;
}

.heroimg__container{
    text-align: center;
    padding: 5%;
}

.hero__img{
    width: 35rem;
    height: 35rem;
}

@media screen and (min-width: 180px) and (max-width: 1180px){
    .hero__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .hero__img{
        width: 300px;
        height: 300px;
    }

}
